<h1>User info</h1>
 <%= form_for(@user) do |f| %>
    <h3>Name</h3>
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg'%>
    <h3>Image</h3>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
    <h3>Introduction</h3>
    <%= f.text_area :introduction %>
    <%= f.submit "Update User" %>
    <% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>