<div class="row">
	<div class="col-md-3">
		<h1>User info</h1>

		<%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpg" %>
		<p>name</p>
		<%= @user.name %>
		<p>introduction</p>
		<%= @user.introduction %>
		<%= link_to edit_user_path(current_user.id) do %>
	    <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
	    <% end %>

		<h1>New book</h1>

		<%= form_for(@bookf) do |f| %>

		    <h4>title</h4>
		    <%= f.text_field :title %>

		    <h4>opinion</h4>
		    <%= f.text_area :body %>

		    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">

		<% end %>
	</div>

	<div class="col-md-9">
		<table class="table table-striped">
			<thead>
				<h1>Book detail</h1>
			</thead>
			<tbody>
				<tr><%= link_to user_path(@user.id) do %>
					<td><%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.jpg" %></td>
					<td><%= link_to user_path(@user.id) do %>
					<%= @user.name %>
					<% end %></td>
				<% end %>
				<td><%= link_to book_path(@book.id) do %>
					<span><%= @book.title %></span>
				<% end %></td>
				<td><span><%= @book.body %></span></td>
				<% if current_user.id == @user.id%>
					<td><%= link_to edit_book_path(@book.id) do %>
					<button type="button" class="btn-sm btn-success" aria-label="Left Align">Edit</button>
				<% end %></td>
					<td><%= link_to book_path, method: :delete  do%>
						<button type="button" class="btn-sm btn-danger" aria-label="Left Align">Destroy</button>
				    <% end %></td>
				<% end %></tr>
			</tbody>
		</table>
	</div>
</div>